<div class="home-intro">
    <h5 class="meta-title">Hi, I'm Rahul Rajeev ⸻</h5>
    <div class="jumbo">I help brands find their visual identity and narrative.</div>
    <div class="home-sub-text">
        <h3>
            I'm a writer turned artist specialising in narrative led Brand Identity & Experience Design.
            <br><i>I write about the world from a generalist perspective at <a href="https://wholefragments.substack.com">Whole Fragments</a> and nurture a digital garden called <a href="https://gardenv24.pages.dev/">Zettelgarden</a>.</i>
        </h3> 
    </div>
</div>

